@model FacebookApplicationUsingGraphAPI.Models.ManagePageByUser

@{
    ViewBag.Title = "FacebookPages";
}

<h2>Facebook Pages</h2><hr>
@using (Html.BeginForm("FacebookPages", "PostSearch", FormMethod.Post))

{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Page Name</label>
        <select name="pageId"  id="pageId" class="form-control">
            @foreach (var page in Model.pageList)
            {

                <option value="@page.id">@page.name</option>

            }

           
        </select>
    </div>
    
   <div class="form-group">
        <input class="btn btn-success" type="submit" value="Search Posts">
    </div>
}

@if (ViewBag.PageNameById != null)
{
    <h3 id="pageNameById">@ViewBag.PageNameById</h3>
}
@if (ViewBag.PageLikesById != null)
{
    <h3>Likes: @ViewBag.PageLikesById</h3>
}


@if (ViewBag.Error != null)
{
    <h3>@ViewBag.Error</h3>
}

@if (ViewBag.PostsList != null)
{
    <div id="postsList">
        
        @using (Html.BeginForm("GetPostDetails","PostSearch",FormMethod.Post))
        {
             @Html.AntiForgeryToken()
            foreach (var post in ViewBag.PostsList)
            {
                if (post.message != null)
                {
                    <div class="jumbotron" id="single_post">
                        <p>
                            @post.message
                        </p>

                        
                        <input type="submit" class="btn btn-primary" value="View Details">

                        <input type="button" id="saveInDatabase" class="btn btn-success" value="Save in Database">
                        <input type="hidden" id="postId" name="postId" value=@post.id>

                    </div>
                }


            }
        }
        
    

    </div>
}
else{
    <p>Sorry! There is no post found in this page!</p>
}
    


@*<table class="table table-bordered table-striped">
    <tr>
        <th>Page ID</th>
        <th>Page Title</th>
        <th>Category</th>
    </tr>
    @foreach (var page in Model.pageList)
    {
        <tr><td>@page.id</td><td>@page.name</td><td>@page.category</td></tr>
    }
</table>*@


<script>

    $("#saveInDatabase").click(function() {

        //var id = $("#postId").val();
        //$.ajax({
        //    type: "POST",
        //    url: "/PostSearch/GetData",
        //    data: id,
        //    datatype: "json",
        //    success: function (data) {
        //        alert(id);
        //    }
        //});
        var id = $("#postId").val();
        var json = { postId: id };
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetData", "PostSearch")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            dataType: "json",
            success: function (data) {
                alert(data);

            },

        });
        




    });
       
</script>

